body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    user-select: none;
    font-family: 'Libre Franklin', sans-serif;
}

#logo{
    height: 1.2em;
    width: 1.2em;
    margin-left: 1em;
}

.main{
    position: fixed;
    top: 0;
    height: 2em;
    font-size: 1.5em;
    font-family: Arial, "Helvetica Neue";
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(5, 5, 114);
    box-shadow: 0 -2px 20px #ccc;
    z-index: 999;
    width: 100%;
    background-color: #fff;
}

.align{
    float: right;
    background: linear-gradient(to right,red, orange);
    font-size: .7em;
    color: #fff;
    padding: .4em;
    border-radius: 4px;
    right: 0;
    font-weight: bold;
}

.container{
    position: absolute;
    top: 2.8em;
    width: 100%;
    height: auto;
    background-color: #eee;
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1488CC, #3a81df);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1488CC, #3a81df); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    margin-top: .2em;
    z-index: 1;
}

.box1{
    width: 70px;
/*CHANGE HEIGHT EVENTUARRY TO 90vh  */
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 2px;
}

.box1 img{
    height: 2em;
    width: 2em;
    margin: 0 auto;
}

.space{
    margin: 1em 0 1em;
}

















/* BOX 2 */

.box2{
    width: 300px;
    height: 100vh;
    background-color: #fff;
    color: #000;
}

.box2 div:nth-child(1){
    font-size: 1.5em;
    padding: .7em;
    font-weight: bold;
}

.structure{
    margin: .4em .7em .4em;
    height: 4em;
    border-radius: 4px;
    /* background-color: rgb(248, 246, 246); */
    display: flex;
    /* align-content: center; */
}

.active{
    background-color: rgb(223, 230, 233);
}

.box2 .structure .left{
    font-size: 1.2em;
    color: #fff;
    width: 1em;
    height: 1em;
    margin: .5em .8em .5em;
    border-radius: 50%;
    /* background: linear-gradient(to top, rgb(196, 83, 190), #a11fa1); */
    background: linear-gradient(to top, rgb(255, 157, 250), #d400ff);
    background-color: rgb(243, 243, 243);
}

.box2 .structure .left2{
background: linear-gradient(to bottom, rgb(238, 57, 87), rgb(255, 105, 130));
}

.box2 .structure .left3{
    background: linear-gradient(to bottom, rgb(243, 227, 6), rgb(228, 177, 10));
    }

.box2 .structure .left-img{
    margin: 0;
    padding: 0;
}

.box2 .structure .left-img img{
    height: 2em;
    width: 2em;
    border-radius: 50%;
    margin: .4em .5em .4em;
}

.box2 .structure .right{
    float: right;
    display: flex;
    flex-direction: column;
}

.box2 .structure .right .up{
    margin-top: 10px;
    padding: 0;
    font-size: 1.3em;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-family: 'Libre Franklin', sans-serif;
}

.up img{
    height: .9em;
}

.box2 .structure .right .down{
    padding: 0;
    font-size: 1em;
    color: grey;
}
















/* BOX 3 */

.box3{
    width: calc(100% - 332px);
    height: 100vh;   
    background-color: rgb(223, 230, 233);
}

.head{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 1.5em;
}

.box3 .head .left img{
    height: 4em;
    width: 4em;
    border-radius: 50%;
    float: left;  
    margin: 0 1em 0 3em;
}

.box3 .right .up{
    font-size: 2em;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: normal;
}

.box3 .right .down{
    font-size: 1em;
    color: grey;
    font-family: 'Libre Franklin', sans-serif;
}

.tail{
    width: 100%;
    border-bottom: 1.5px solid rgb(219, 218, 218);  
    margin-top: 1em; 
}

.content{
    margin-left: 3em;
    margin-top: 1em;
    padding: .7em 0 .7em;
}

.content span{
    margin-right: 2em;
    font-size: 1.2em;
    color: #3a81df;
}

.highlight{
    border-bottom: 2px solid #3a81df;
}

.content span:nth-child(n+2){
    padding: .5em;
}

.calendar{
    border-radius: 1em; 
    max-width: 900px;
    max-height: 550px;
    background-color: #fff;
    margin: 2em 0 0 3em;
}

.first{
    display: flex;
    flex-wrap: wrap;
    flex: content;
}

.first span{
    font-size: 1.2em;
    color: rgb(165, 165, 165);
}

.first span:first-child{
    margin: 1em;
}

.first span:nth-child(2){
    /* float: right; */
    margin: 1em;
}

.days, .row1, .row2, .row3, .row4, .row5{
    display: flex;
    width: 100%;
}

.calendar .days span, 
.calendar .row1 span,
.calendar .row2 span,
.calendar .row3 span,
.calendar .row4 span,
.calendar .row5 span{
    padding: 1em;
    width: calc(100% / 7);
}

.b-bottom{
    border-bottom: .5px solid rgb(219, 218, 218);
    color: rgb(146, 146, 146);
}

.calendar .row1 span, 
.calendar .row2 span,
.calendar .row3 span,
.calendar .row4 span,
.calendar .row5 span{
    height: calc(450px / 15);
    border-right: .5px solid rgb(219, 218, 218);
}

.calendar .row1 span:last-child,
.calendar .row2 span:last-child,
.calendar .row3 span:last-child,
.calendar .row4 span:last-child,
.calendar .row5 span:last-child{
    border-right: none;
}

.rhyme{
    color: rgb(146, 146, 146);
}



/* FIX FADE AND BOLD */
.calendar .bold{
    font-weight: bold;
}

.fade{
    color: #ccc;
    font-weight: normal;
}

/* .calendar .row1 .diff{
    display: flex;
    /* flex-direction: column; 
} */

/* .calendar .row1 .down{
    text-decoration: none;
    font-weight: none;
    margin-top: 4em;
} */

/* .calendar .row1 span:(n) */

